sources
.repo
repoTool
manifest
raspberrypi*
dl
sstate
bb.environment
setup-environment
disk.img
*.bak
output.*
.bash_history
.ansible
.config
.dart
.cache
.wget-hsts
.repoconfig
.gitconfig
.flutter
.vpython-root/**/*
.vscode-server
.repo_.gitconfig.json
.devcontainer
.ssh
build/